#app{
    visibility: visible;
    display: flex;
}

#control-container:hover{
    cursor: pointer;
}

#container{
    height: 100%; margin: 0; padding: 20px;
    justify-self: self-start; flex: 1 0;
    display: flex; flex-direction: column;
    background-color: rgb(10, 10, 10); color: rgb(240, 240, 240);
    font-size: 15px; font-weight: 500; line-height: 15px; font-family: 'Consolas', monospace;
    overflow-wrap: anywhere;
}

#container h1{
    font-size: 20px;
    margin-block: 10px;
}

#container h2{
    font-size: 17px;
    margin-block: 10px;
}

#recorders{
    color: rgb(0, 255, 0);
}

#compilers{
    color: rgb(255, 255, 0);
}

#deleters{
    color: rgb(255, 0, 0);
}
